.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
}

body {
  background-color: white;
}

header {
  background-color: black;
  padding: 50px;
  color: salmon;
  font-style: italic;
  text-align: center;
  font-size: 3.5em;
  font-family: "Righteous", sans-serif;
  width: 100%;

}

nav {
  background-color: salmon;
  padding: 12px;
  width: 100%;
}

nav a {
  padding: 10px;
  margin-right: 20px;
  text-decoration: none;
  color: black;


}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style for the container div */
/* Style for the container div */
.city-info-container {
  margin-top: 20px;
}

.city-info {
  border-bottom: none; /* Remove bottom border */
  padding: 10px 0;
  margin-left: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.no-border-top {
  border-top: none;
}

.city-info p {
  margin: 5px 0;
}

/* Style only the city name */
.city-info .city-name {
  font-family: "Righteous", sans-serif; /* Desired font for city names */
  margin-left: -40px;
  font-size: 2em;
}


footer {
  text-align: center;
  background-color: lightgray;
  padding: 50px;
}
